fastapi
uvicorn[standard]
pydantic
python-dotenv
pdfplumber
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-google-genai
langchain-pinecone
langgraph
typing-extensions
sentence-transformers>=2.2.2
torch>=2.0.0 --extra-index-url https://download.pytorch.org/whl/cpu
pinecone