fastapi
uvicorn[standard]
pydantic
python-dotenv
pdfplumber
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-google-genai
langchain-pinecone
langgraph
sentence-transformers
torch
pinecone
typing-extensions